header {
    height: 4rem;
    padding: 1rem 2rem;
    grid-area: header;

    @media screen and(min-width: $break-desktop) {
        padding: 0;
        margin-top: 2rem;
    }

    img {
        width: 35%;

        @media screen and(min-width: $break-desktop) {
            max-width: 7rem;
        }
    }
}